@font-face {
    font-family: 'Baskervville SC';
    src: url('BaskervvilleSC-Regular.woff2') format('woff2'),
        url('BaskervvilleSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

